{% extends 'base.html' %}


{% block contents %}
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="welcome">
                    <center>
                        <h2>Selamat Datang Di Aplikasi Destinasia</h2>
                    </center>
                    <br>
                    <!-- 
                    <a href="/report/exportpdf" class="btn btn-sm btn-primary">Export PDF</a> -->
                    <hr>
                </div>
            </div>

        </div>
        <!-- /.box -->
    </div>
</section>
{% endblock contents %}